@mixin coach-marks($navbar-height) {
    CoachMarks-CoachMarksOverlay {
        position: absolute;
        background-color: #121212;
        opacity: 0.4;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    CoachMarks-ElementHolder {
        background-color: white;
    }

    CoachMarks-TopButtonContainer, CoachMarks-BottomButtonContainer {
        Direction: calc("RepeatDirection.Horizontal");
    }

    CoachMarks-TopButtonContainer {
        @if $navbar-height == 60 {
            margin-top: 15px;
        }
        @else {
            margin-top: 0;
        }
    }

    CoachMarks-BottomButtonContainer {
        position: absolute;
        height: 45px;
        top: calc("View.Root.Height, view.Height, (r, b) => r - b");
    }

    CoachMarks-BackButton, CoachMarks-SkipButton, CoachMarks-NextButton {
        height: 45px;
        border: 1px;
        background-color: white;
        color: black;
    }
}